In [1]:
import warnings
from PIL import Image
from utils import *
warnings.filterwarnings('ignore')

# temp with 결측치 처리(0)

In [2]:
temper = {'강의지원': 23, '공용공간': np.nan, '교수연구': 20, '연구공간': 14, '학생자율': 18, '학술지원': 16, '행정지원': 18}

df = pd.read_csv('../temp/dataset_02[시간별목적별전력온습도].csv')
# df.fillna(0, inplace=True)
cols = list(df.columns[7:-1])

temp = df.drop(['use', 'humid', 'sum'], axis=1)
print('변경 전')
display(temp)

for key in temper.keys():
    temp[key] = temper[key]
    temp[key] -= temp['temp']

temp.drop('temp', axis=1, inplace=True)
print('변경 후')
temp.fillna(0, inplace=True)
temp = np.absolute(temp)
display(temp)

변경 전

,year,month,day,hour,temp,공용공간,학생자율,교수연구,연구공간,학술지원,행정지원,강의지원
0,2017,1,1,1,1.3,1.0,1.0,1.226667,20.700000,19.851373,9.380392,2.350000
1,2017,1,1,2,0.9,1.0,1.0,1.283663,21.661811,20.904787,9.807492,2.463059
2,2017,1,1,3,0.7,1.0,1.0,1.346256,22.718062,22.000000,10.308370,2.573789
3,2017,1,1,4,0.3,1.0,1.0,1.392898,23.505155,22.804009,10.676976,2.635739
4,2017,1,1,5,-0.3,1.0,1.0,1.406228,23.730104,22.909458,10.915802,2.657439
...,...,...,...,...,...,...,...,...,...,...,...,...
38659,2021,5,31,20,24.7,1.0,1.0,1.389136,23.441674,20.274354,11.703473,2.345503
38660,2021,5,31,21,23.5,1.0,1.0,1.345487,22.705094,20.225112,11.385165,2.230563
38661,2021,5,31,22,22.8,1.0,1.0,1.325798,22.372835,20.506563,10.938013,2.127621
38662,2021,5,31,23,21.8,1.0,1.0,1.319245,22.262264,21.093868,10.412264,2.063208
38663,2021,5,31,24,21.2,1.0,1.0,1.347610,22.740918,21.506405,10.079350,2.039197

변경 후

       year  month  day  hour  공용공간  학생자율  교수연구  연구공간  학술지원  행정지원  강의지원
0      2017      1    1     1   0.0  16.7  18.7  12.7  14.7  16.7  21.7
1      2017      1    1     2   0.0  17.1  19.1  13.1  15.1  17.1  22.1
2      2017      1    1     3   0.0  17.3  19.3  13.3  15.3  17.3  22.3
3      2017      1    1     4   0.0  17.7  19.7  13.7  15.7  17.7  22.7
4      2017      1    1     5   0.0  18.3  20.3  14.3  16.3  18.3  23.3
...     ...    ...  ...   ...   ...   ...   ...   ...   ...   ...   ...
38659  2021      5   31    20   0.0   6.7   4.7  10.7   8.7   6.7   1.7
38660  2021      5   31    21   0.0   5.5   3.5   9.5   7.5   5.5   0.5
38661  2021      5   31    22   0.0   4.8   2.8   8.8   6.8   4.8   0.2
38662  2021      5   31    23   0.0   3.8   1.8   7.8   5.8   3.8   1.2
38663  2021      5   31    24   0.0   3.2   1.2   7.2   5.2   3.2   1.8

[38664 rows x 11 columns]

In [3]:
building = pd.read_csv('../temp/dataset_03[1층].csv')
building.replace('0', 0, inplace=True)
building

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,공용공간,공용공간,공용공간,0,0,0,0,0,공용공간,공용공간,0,0,0,0,0,공용공간,공용공간,공용공간,0
1,0,연구공간,연구공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,연구공간,연구공간,0
2,0,연구공간,연구공간,공용공간,교수연구,교수연구,강의지원,연구공간,연구공간,연구공간,연구공간,강의지원,교수연구,교수연구,강의지원,행정지원,공용공간,연구공간,연구공간,0
3,0,0,연구공간,공용공간,0,0,0,0,0,0,0,0,0,0,0,0,공용공간,연구공간,0,0
4,0,0,연구공간,공용공간,0,0,0,0,0,0,0,0,0,0,0,0,공용공간,연구공간,0,0
5,0,0,행정지원,공용공간,0,0,0,0,0,공용공간,공용공간,공용공간,0,0,0,0,공용공간,연구공간,연구공간,연구공간
6,학생자율,학생자율,행정지원,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,연구공간
7,연구공간,연구공간,연구공간,공용공간,강의지원,강의지원,연구공간,연구공간,교수연구,행정지원,강의지원,강의지원,연구공간,연구공간,학술지원,학생자율,공용공간,연구공간,연구공간,연구공간

In [4]:
img_path = '../dataset/2d/img/temp'
npy_path = '../dataset/2d/npy/temp'

check_path(img_path)
check_path(npy_path)

In [5]:
start = time.time()
# npy save
res = []
for idx in tqdm(temp.index):
    temp_b = building.copy()
    temp_b.replace(cols, temp.iloc[idx][4:], inplace=True)
    res.append(temp_b)
np.save(npy_path + '/2d_temp.npy', np.array(res))
end = time.time()
print('='*10, 'npy', '='*10)
print(f'저장 소요 시간 : {end-start:.2f}')


start = time.time()
max_val = np.max(temp[cols].max())
# png save
for idx in tqdm(temp.index):
    temp_b = building.copy()
    temp_b.replace(cols, temp.iloc[idx][4:], inplace=True)
    img = Image.fromarray((temp_b.to_numpy()/max_val)*255).convert('L')
    img.save(img_path + f'/{int(temp.iloc[idx]["year"])}_{int(temp.iloc[idx]["month"])}_{int(temp.iloc[idx]["day"])}_{int(temp.iloc[idx]["hour"])}.png', 'png')
end = time.time()
print('='*10, 'png', '='*10)
print(f'저장 소요 시간 : {end-start:.2f}')

  0%|          | 0/38664 [00:00<?, ?it/s]

100%|██████████| 38664/38664 [01:13<00:00, 522.55it/s]

========== npy ==========
저장 소요 시간 : 74.25

100%|██████████| 38664/38664 [01:52<00:00, 343.13it/s]

========== png ==========
저장 소요 시간 : 112.68

In [11]:
print(max_val)

36.4