In [1]:
import warnings
from PIL import Image
from utils import *
warnings.filterwarnings('ignore')

In [2]:
humider = {'강의지원': 50, '공용공간': np.nan, '교수연구': 60, '연구공간': 50, '학생자율': 60, '학술지원': 50, '행정지원': 60}

df = pd.read_csv('../temp/dataset_02[시간별목적별전력온습도].csv')
# df.fillna(0, inplace=True)
cols = list(df.columns[7:-1])

humid = df.drop(['use', 'temp', 'sum'], axis=1)
print('변경 전')
display(humid)

for key in humider.keys():
    humid[key] = humider[key]
    humid[key] -= humid['humid']

humid.drop('humid', axis=1, inplace=True)
print('변경 후')
humid.fillna(0, inplace=True)
humid = np.absolute(humid)
display(humid)

변경 전

,year,month,day,hour,humid,공용공간,학생자율,교수연구,연구공간,학술지원,행정지원,강의지원
0,2017,1,1,1,93.0,1.0,1.0,1.226667,20.700000,19.851373,9.380392,2.350000
1,2017,1,1,2,95.0,1.0,1.0,1.283663,21.661811,20.904787,9.807492,2.463059
2,2017,1,1,3,95.0,1.0,1.0,1.346256,22.718062,22.000000,10.308370,2.573789
3,2017,1,1,4,97.0,1.0,1.0,1.392898,23.505155,22.804009,10.676976,2.635739
4,2017,1,1,5,97.0,1.0,1.0,1.406228,23.730104,22.909458,10.915802,2.657439
...,...,...,...,...,...,...,...,...,...,...,...,...
38659,2021,5,31,20,42.0,1.0,1.0,1.389136,23.441674,20.274354,11.703473,2.345503
38660,2021,5,31,21,45.0,1.0,1.0,1.345487,22.705094,20.225112,11.385165,2.230563
38661,2021,5,31,22,51.0,1.0,1.0,1.325798,22.372835,20.506563,10.938013,2.127621
38662,2021,5,31,23,55.0,1.0,1.0,1.319245,22.262264,21.093868,10.412264,2.063208
38663,2021,5,31,24,56.0,1.0,1.0,1.347610,22.740918,21.506405,10.079350,2.039197

변경 후

       year  month  day  hour  공용공간  학생자율  교수연구  연구공간  학술지원  행정지원  강의지원
0      2017      1    1     1   0.0  33.0  33.0  43.0  43.0  33.0  43.0
1      2017      1    1     2   0.0  35.0  35.0  45.0  45.0  35.0  45.0
2      2017      1    1     3   0.0  35.0  35.0  45.0  45.0  35.0  45.0
3      2017      1    1     4   0.0  37.0  37.0  47.0  47.0  37.0  47.0
4      2017      1    1     5   0.0  37.0  37.0  47.0  47.0  37.0  47.0
...     ...    ...  ...   ...   ...   ...   ...   ...   ...   ...   ...
38659  2021      5   31    20   0.0  18.0  18.0   8.0   8.0  18.0   8.0
38660  2021      5   31    21   0.0  15.0  15.0   5.0   5.0  15.0   5.0
38661  2021      5   31    22   0.0   9.0   9.0   1.0   1.0   9.0   1.0
38662  2021      5   31    23   0.0   5.0   5.0   5.0   5.0   5.0   5.0
38663  2021      5   31    24   0.0   4.0   4.0   6.0   6.0   4.0   6.0

[38664 rows x 11 columns]

In [3]:
building = pd.read_csv('../temp/dataset_03[1층].csv')
building.replace('0', 0, inplace=True)
building

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,공용공간,공용공간,공용공간,0,0,0,0,0,공용공간,공용공간,0,0,0,0,0,공용공간,공용공간,공용공간,0
1,0,연구공간,연구공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,연구공간,연구공간,0
2,0,연구공간,연구공간,공용공간,교수연구,교수연구,강의지원,연구공간,연구공간,연구공간,연구공간,강의지원,교수연구,교수연구,강의지원,행정지원,공용공간,연구공간,연구공간,0
3,0,0,연구공간,공용공간,0,0,0,0,0,0,0,0,0,0,0,0,공용공간,연구공간,0,0
4,0,0,연구공간,공용공간,0,0,0,0,0,0,0,0,0,0,0,0,공용공간,연구공간,0,0
5,0,0,행정지원,공용공간,0,0,0,0,0,공용공간,공용공간,공용공간,0,0,0,0,공용공간,연구공간,연구공간,연구공간
6,학생자율,학생자율,행정지원,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,공용공간,연구공간
7,연구공간,연구공간,연구공간,공용공간,강의지원,강의지원,연구공간,연구공간,교수연구,행정지원,강의지원,강의지원,연구공간,연구공간,학술지원,학생자율,공용공간,연구공간,연구공간,연구공간

In [4]:
img_path = '../dataset/2d/img/humid'
npy_path = '../dataset/2d/npy/humid'

check_path(img_path)
check_path(npy_path)

In [5]:
start = time.time()
# npy save
res = []
for idx in tqdm(humid.index):
    humid_b = building.copy()
    humid_b.replace(cols, humid.iloc[idx][4:], inplace=True)
    res.append(humid_b)
np.save(npy_path + '/2d_humid.npy', np.array(res))
end = time.time()
print('='*10, 'npy', '='*10)
print(f'저장 소요 시간 : {end-start:.2f}')


start = time.time()
max_val = np.max(humid[cols].max())
# png save
for idx in tqdm(humid.index):
    humid_b = building.copy()
    humid_b.replace(cols, humid.iloc[idx][4:], inplace=True)
    img = Image.fromarray((humid_b.to_numpy()/max_val)*255).convert('L')
    img.save(img_path + f'/{int(humid.iloc[idx]["year"])}_{int(humid.iloc[idx]["month"])}_{int(humid.iloc[idx]["day"])}_{int(humid.iloc[idx]["hour"])}.png', 'png')
end = time.time()
print('='*10, 'png', '='*10)
print(f'저장 소요 시간 : {end-start:.2f}')

100%|██████████| 38664/38664 [01:14<00:00, 518.89it/s]

========== npy ==========
저장 소요 시간 : 74.80

100%|██████████| 38664/38664 [01:52<00:00, 342.57it/s]

========== png ==========
저장 소요 시간 : 112.87

In [6]:
print(max_val)

56.0